# Git ignore

.idea/
__pycache__/
venv/
.venv/
.venvs/
apikey.py
log.txt
history_log.json
query_text_settings.json
query_image_settings.json
secret_apikey.txt


# Pyinstaller
dist/
build/
main.spec


# Deb build
build_binary
