[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/openai-client
Name=OpenAI client
Comment=OpenAI client for Desktop (Unofficial)
Icon=/usr/share/icons/openai-client.jpg

